/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .cardClass {
    margin-bottom: 20px !important;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .cardClass {
    margin-bottom: 20px !important;
  }
}

._buttongroupClass {
  /* margin-top: 20px !important; */
  margin-bottom: 20px !important;
}

._expense {
  color: brown !important;
}

._income {
  color: rgb(66, 161, 10) !important;
}
